
<%= current_user.username %>

<form action="/session" method="post">

  <%= auth_token %>

  <input
    type="hidden"
    name="_method"
    value="delete">
  </input>

  <button>Sign Out</button>
</form>
